header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 13vh;
    gap: 20%;
}


.h3UserName{
    color: var( --color-primary);
    font-weight: 500;
    font-family: var(--font-primary);
}


button {
    background-color: var(--color-inputs);
    width: 120%;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: var(--color-primary);
}

.divPesquisa {
    display: flex;
    justify-content: space-between;
    position: inherit;
    bottom: 40px;
    width: 70%;
    margin-left: 11%;
    border-radius: 8px;
    background-color: var(--color-inputs);
    padding: 1rem;
    height: 30px;
}

.divPesquisa > img {
    width: 40px;
}

.divPesquisa > input {
    background-color: transparent;
    border: 1px solid transparent;

}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sectionGames > ul {
    display: flex;
    overflow-y: auto;
    gap: 2rem;
}

.sectionGames > ul > li {
    width: 486px;
    height: 300px;
    background-color: var(--color-inputs);
    border-radius: 8px;
    display: flex;
}

.boxGamer > img {
    width: 240px;
    border-radius: 8px 8px 0px 0px;
    height: 160px;
    object-fit: cover;
}

.h3NameGame {
    color: var(--color-secundary);
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 500;
}

.spanYearGame {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 0.6rem;
    font-weight: 100;
    text-align:center;
}