@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');

:root{
    --font-primary: 'Phudu', cursive;
    --color-primary: #5271FF;
    --color-secundary: #ffffff;
    --color-inputs:  #000000c5;
    --color-txt-1: rgb(0, 0, 0);
    --color-txt-2: rgb(170, 170, 170);
}

#load {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }